@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');


#external-events {
    position: fixed;
    z-index: 2;
    margin-left: 10%;
    margin-top: 5%;
    width: 150px;
    padding: 10 20px;
    border: 1px solid #ccc;
    background: #eee;
}

.fc-event {
  margin-top: 10px; /* 這裡的 10px 可以根據你的需求調整 */
  margin-bottom: 10px;
}

.fc-event-main {
  margin-left: 5px;
}

.fc-event-main:hover {
  cursor: pointer; /* 将鼠标光标设置为指针 */
}

#calendar-container {
  position: relative;
  z-index: 1;
  margin-left: 200px;
}

#calendar {
    width: 65%;
    height: 85%;
    margin: 0 auto; /* 將左右外邊距設為auto，實現水平居中 */
    margin-top: 1%;
  }

