@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
:root {
	--dark-color-a: #464646;
	--dark-color-b: #d2cbc6;
	--light-color: #fff;
	--success-color: #5cb85c;
	--error-color: #d9534f;
}

/* * {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
} */

body {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	background: var(--light-color);
	margin: 0px;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
}

.chat-container {
	max-width: 1100px;
    /* height: 1100px; */
	background: #fff;
	margin: 3.5% auto;
	overflow: hidden;
}

.chat-header {
	background: var(--dark-color-a);
	color: #fff;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	padding: 20px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.chat-header .btn {
	padding: 9px 25px;
	border: 1px solid #fff;;
	color: #fff;
	border-radius: 5px;
	cursor: pointer;
}

.chat-header .btn:hover {
	border: 1px solid #fff;
    background-color: #fff;
    transition: .3s;
}

.chat-main {
	display: grid;
	grid-template-columns: 1fr 3fr;
}

.chat-sidebar {
	background: var(--dark-color-b);
	color: var(--dark-color-a);
	padding: 20px 20px 60px;
	overflow-y: scroll;
}

.chat-sidebar h2 {
	font-size: 20px;
	background: rgba(0, 0, 0, 0.1);
	padding: 10px;
	margin-bottom: 20px;
}

.chat-sidebar h3 {
	margin-bottom: 15px;
}

.chat-sidebar ul li {
	padding: 10px 0;
}

.chat-messages {
	padding: 30px;
	height: 500px;
	overflow-y: scroll;
}

.chat-messages .message {
	padding: 10px;
	margin-bottom: 15px;
	background-color: var(--light-color);
	border-radius: 5px;
	overflow-wrap: break-word;
}

.chat-messages .message .meta {
	font-size: 15px;
	font-weight: bold;
	color: var(--dark-color-b);
	opacity: 0.7;
	margin-bottom: 7px;
}

.chat-messages .message .meta span {
	color: #777;
}

.chat-form-container {
	padding: 20px 30px;
	background-color: var(--dark-color-a);
}

.chat-form-container form {
	display: flex;
}

.chat-form-container input[type='text'] {
	font-size: 16px;
	padding: 5px;
	height: 40px;
	flex: 1;
}

/* 按钮样式 */
.bot-button {
    background-color: var(--dark-color-a); /* 设置背景颜色 */
    border-radius: 50%; /* 设置圆角半径为50%以实现圆形 */
	margin-right: 20px;
}

/* 鼠标悬停时的样式 */
.bot-button:hover {
	background-color: #585858; /* 鼠标悬停时的背景颜色 */
	cursor: pointer;
}