@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
span, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, header, hgroup, 
menu, nav, output, ruby, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure
, header, hgroup, menu, nav {
	display: block;
}
html, body {
    overflow-x: hidden;
    height: 100%;
}
body {
	line-height: 1;
    font-family: 'Roboto', sans-serif;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a{
	text-decoration: none;
	color:#212529;
}

#dropdownMenuOffset{
    background-color: #464646; 
}

/* 個人資料 */

.dropdown-menu {
	width: 380px;
}


.ai .nav-pills .nav-link.active {
	  background: #fff;
	  border: 0;
	  color: #464646;
	}
  
.ai .nav-pills .nav-link.active, .nav-pills .show>.nav-link {
	  color: #fff;
	  background: #464646;
	}

