
#quiz {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

iframe {
    max-width: 100%; /* 确保iframe宽度不超过其容器 */
    width: 40rem;
    height: 54.375rem;
}
  