  
.course-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding-top: 10rem;
    padding-bottom: 4.5rem;
    padding-left: 6rem;
    /* padding-right: 3rem; */
}

.add-course-box {
    background-color: #f0f0f0;
    border: solid #ccc;
    border-radius: 10%;
    padding: 5.5rem;
    margin-right: 3.5rem;
    margin-bottom: 3.5rem;
    text-align: center;
    cursor: pointer;
    width: 18.75rem;
    height: 18.375rem;
}

.add-course-box:hover {
    background-color: #e0e0e0;
}

.course-box {
    background-color: #f0f0f0;
    border: solid #ccc;
    border-radius: 10%;
    padding: 1rem;
    margin-right: 3.5rem;
    margin-bottom: 3.5rem;
    text-align: center;
    cursor: pointer;
    width: 18.75rem;
    height: 18.375rem;
}

.course-box:hover {
    background-color: #e0e0e0;
}

/* 模态对话框 */
.modal {
    display: none;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
    background-color: #fff;
    display: flex; /* 使用 flex 布局 */
    flex-direction: column; /* 垂直居中 */
    align-items: center; /* 水平居中 */
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 1.5rem;
    border: 10px solid #888;
    max-width: 40%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.form-group {
    margin-bottom: 20px; /* 添加垂直间距 */
}

label {
display: block; /* 让标签占据整行 */
}

select, textarea {
width: 100%; /* 使下拉框和文本区域宽度充满父元素 */
}

/* 关闭按钮 */
.close {
    float: right;
    font-size: 24px;
    cursor: pointer;
}

/* 输入框样式，以及取消和建立按钮样式 */
#courseName {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
}

#cancelBtn, #createBtn {
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
    border-radius: 10px; /* 添加圆角 */
}

#cancelBtn:hover, #createBtn:hover {
    background-color: #e0e0e0;
}

