@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
span, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure
, header, hgroup, menu, nav, section {
	display: block;
}
html, body {
    overflow-x: hidden;
    height: 100%;
}
body {
	line-height: 1;
    font-family: 'Roboto', sans-serif;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a{
	text-decoration: none;
}


        section{
            width: 100%;
            height: 7%;
            margin: auto;
            background-color: #cfc8c3;
        }
        .nav{
            height: 90%;
            margin: auto;
            padding: 5px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-left: 3%;
            margin-right: 3%;
        }
        .nav ul{
            display: flex;
            align-items: center;
            padding: 20px 0;
        }
        .nav li{
            padding: 0 10px;
            
        }
        .nav a{
            text-decoration: none;
            text-align: center;
            font-size: 18px;
            color: #464646;
            margin: 0 15px;
            position: relative;
        }
        .nav .logo {
            font-size: 12px;
            margin-right: 1em;
			display: flex;
			align-items: center;
        }
        .nav span {
            font-size: 26px;
            font-weight: 500;
            color: #464646;
            margin-left: 10%;
        }
        .nav .fa-spotify {
            padding-right: 2em;
            color: #464646;
        }
        .nav .active a{
            border-bottom: 1px solid #464646;
        } 
        .nav li a:hover{
            border-bottom: 1px solid #464646;
            transition: .3s;
        }
        .nav li:not(:first-child) a::after{ 
            content: '';
            position: absolute;
            display: block;
            right: -15px;
            top:7px;
            height: 0px;
            width: 0px;
            /* border-top:5px solid #464646;
            border-bottom:4px solid transparent;
            border-left: 4px solid transparent;
            border-right: 4px solid transparent; */
            } 

        .nav .btn{
            padding: 9px 30px;
            border: 1px solid #464646;
            border-radius: 5px;
        }
        .nav .btn:hover{
            border: 1px solid #C5B9AA;
            background-color: #C5B9AA;
            transition: .3s;
        }