  
.course-content-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding-top: 10rem;
    padding-bottom: 4.5rem;
    padding-left: 6rem;

    /* padding-right: 3rem; */
}

.course-box {
    background-color: #f0f0f0;
    border: solid #ccc;
    border-radius: 10%;
    padding: 1rem;
    padding-top: 2.5rem;
    margin-right: 3.5rem;
    margin-bottom: 3.5rem;
    text-align: center;
    cursor: pointer;
    width: 18.75rem;
    height: 18.375rem;
}

.course-box:hover {
    background-color: #e0e0e0;
}

.joinButton {
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
    border-radius: 10px; /* 添加圆角 */
}

.joinButton:hover{
    background-color: #e0e0e0;
}



/* 模态对话框 */
.modal {
    display: inline-block;
    flex-direction: row;
    justify-content: start;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
    background-color: #fff;
    display: flex; /* 使用 flex 布局 */
    flex-direction: column; /* 垂直居中 */
    align-items: center; /* 水平居中 */
    left: 30%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 1.5rem;
    border: 10px solid #888;
    max-width: 40%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-height: 80vh; /* 设置最大高度为视窗高度的80% */
    overflow-y: auto; /* 启用垂直滚动 */
}

textarea{
    width: 80%;
}

#sendBtn{
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
    border-radius: 10px; /* 添加圆角 */
}

#sendBtn:hover{
    background-color: #e0e0e0;
}

#memberlist ol{
    padding-right: 2rem;
}

/* 关闭按钮 */
.close {
    float: right;
    font-size: 24px;
    cursor: pointer;
}

/*  courses 圖片*/
.course-history-img {
    width: 8rem; /* 设置宽度为50像素 */
    height: 8rem; /* 设置高度为自动，以保持纵横比 */
    margin-bottom: 1.5rem;
}